body, html{
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    background: #f0f0f0;
}

img{
    width: 100%;
    height: 100%;
}

/*--- NAVBAR ---*/

nav{
    width: 100%;
    height: 65px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    background: rgb(255, 255, 255);
}

div.burger-icon{
    width: 100px;
    height: 40px;
    position: relative;
    background-color: red;
}

div.top-icon-home{
    width: 100px;
    position: relative;
    margin: 0;
}

div.top-icon-home img{
    width: 100%;
}

div.right-icon-menu{
    width: 100px;
    height: 40px;
    background-color: red;
}

/*--- END NAVBAR ---*/

/*--- HEADER ---*/

div.main-carousel{
    width: 100%;
    position: relative;
}

div.main-carousel img{
    width: 100%;
}

/*--- END HEADER ---*/

/*--- CONTENT ---*/

.content-product-galery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 275px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.product-view-item{
    width: 100%;
    height: 100%;
}

.top-img-galery{
    width: 100%;
    height: 200px;
    position: relative;
}



.top-img-galery::after{
    content: "";
    display: block;
    right: 5px;
    position: absolute;
    top: 5px;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    border: 1px solid #F4E72D;
    background-color: #F4E72D;
    z-index: 1;
}

.top-img-galery img{
    object-fit: cover;
}


/*--- END CONTENT ---*/

